@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<button onclick="AddPlane(1)">Add departing plane</button>
<button onclick="AddPlane(0)">Add landing plane</button>
<button onclick="CloseStation()">Close station</button>
<button onclick="OpenStation()">Open station</button>
<input type="number" id="station" value="" />
<div id="logger">

</div>