<div class="row">
    <button onclick="AddPlane(1)">Add departing plane</button>
    <button onclick="AddPlane(0)">Add landing plane</button>
    <button onclick="CloseStation()">Close station</button>
    <button onclick="OpenStation()">Open station</button>
    <button onclick="EmergencyLanding()">Emergency landing</button>
    <button onclick="Save()">Save and shut down</button>
    <button onclick="ClearDB()">Delete backup</button>
    <input type="number" id="station" value="1" min="1" max="9" />
    <label id="scrollEanbleText" for="scrollEnable">Scroll log?</label>
    <input type="checkbox" id="scrollEnable" value="Scroll" onchange="scrolling = !scrolling" checked />
</div>
<div class="row">
    Note:You can double click a station to close/open it
</div>
<div class="row">
    <div id="logger" class="col-xs-10">

    </div>
    <div id="loggerToggle" class="col-xs-2">
        <div>
            <input class="clog" type="checkbox" id="c2" checked value="" />
            <label for="c2">Just arrived</label>
        </div>
        <div>
            <input class="clog" type="checkbox" id="c8" checked value="" />
            <label for="c8">Success messages</label>
        </div>
        <div>
            <input class="clog" type="checkbox" id="c9" checked value="" />
            <label for="c9">Error messages</label>
        </div>
        <div>
            <input class="clog" type="checkbox" id="c6" checked value="" />
            <label for="c6">Opening stations</label>
        </div>
        <div>
            <input class="clog" type="checkbox" id="c7" checked value="" />
            <label for="c7">Closing stations</label>
        </div>
        <div>
            <input class="clog" type="checkbox" id="c4" checked value="" />
            <label for="c4">Left the system</label>
        </div>
        <div>
            <input class="clog" type="checkbox" id="c5" checked value="" />
            <label for="c5">Plane movement</label>
        </div>
        <div>
            <input class="clog" type="checkbox" id="c10" checked value="" />
            <label for="c10">Forbidden movement</label>
        </div>
        <div>
            <input class="clog" type="checkbox" id="c3" checked value="" />
            <label for="c3">Station occupied</label>
        </div>
        <div>
            <input class="clog" type="checkbox" id="c13" checked value="" />
            <label for="c13">Log saving</label>
        </div>
        <div>
            <input class="clog" type="checkbox" id="c12" checked value="" />
            <label for="c12">Emergency messages</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="grid" style="width:500px;">
            <tr>
                <td><div class="stations" id="station9" style="width:100px; height: 100px;"></div></td>
                <td colspan="4"><div class="stations" id="station4" style=" width:100%; height: 100px;"></div></td>
                <td><div class="stations" id="station3" style="width:100px; height: 100px;"></div></td>
                <td><div class="stations" id="station2" style="width:100px; height: 100px;"></div></td>
                <td><div class="stations" id="station1" style="width:100px; height: 100px;"></div></td>
            </tr>
            <tr>
                <td></td>
                <td><div class="stations" id="station5" style="width:100px; height: 100px;"></div></td>
                <td></td>
                <td></td>
                <td><div class="stations" id="station8" style="width:100px; height: 100px;"></div></td>
                <td></td>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><div class="stations" id="station6" style="width:100px; height: 100px;"></div></td>
                <td><div class="stations" id="station7" style="width:100px; height: 100px;"></div></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
